@{
    ViewData["Title"] = "Date Me";
}

<h1>Date Me</h1>
<div>
    <p>Today is your lucky day. You might get to date this awesomeness.</p>
</div>

<img src="~/img/pinkney.jpg" height="410px" width="290px"/><br /><br />

<div>
    <a asp-controller="Home" asp-action="Application">Fill Out application</a>
</div>